# Pandas Demo: Vaccination data analysis

In [1]:
import pandas as pd
import numpy as np

### Read CSV file using Pandas, output is a data frame

In [2]:
df = pd.read_csv('./country_vaccinations_by_manufacturer.csv')

In [3]:
df

     location        date             vaccine  total_vaccinations
0     Austria  2021-01-08     Johnson&Johnson                   0
1     Austria  2021-01-08             Moderna                   0
2     Austria  2021-01-08  Oxford/AstraZeneca                   0
3     Austria  2021-01-08     Pfizer/BioNTech               30874
4     Austria  2021-01-15     Johnson&Johnson                   0
...       ...         ...                 ...                 ...
7418  Uruguay  2021-06-18     Pfizer/BioNTech              837620
7419  Uruguay  2021-06-18             Sinovac             2628437
7420  Uruguay  2021-06-19  Oxford/AstraZeneca               43098
7421  Uruguay  2021-06-19     Pfizer/BioNTech              837620
7422  Uruguay  2021-06-19             Sinovac             2628437

[7423 rows x 4 columns]

In [4]:
df.head(20)

   location        date             vaccine  total_vaccinations
0   Austria  2021-01-08     Johnson&Johnson                   0
1   Austria  2021-01-08             Moderna                   0
2   Austria  2021-01-08  Oxford/AstraZeneca                   0
3   Austria  2021-01-08     Pfizer/BioNTech               30874
4   Austria  2021-01-15     Johnson&Johnson                   0
5   Austria  2021-01-15             Moderna                  88
6   Austria  2021-01-15  Oxford/AstraZeneca                   0
7   Austria  2021-01-15     Pfizer/BioNTech              115106
8   Austria  2021-01-22     Johnson&Johnson                   0
9   Austria  2021-01-22             Moderna                 298
10  Austria  2021-01-22  Oxford/AstraZeneca                   0
11  Austria  2021-01-22     Pfizer/BioNTech              212202
12  Austria  2021-01-29     Johnson&Johnson                   0
13  Austria  2021-01-29             Moderna                4149
14  Austria  2021-01-29  Oxford/AstraZeneca                   0
15  Austria  2021-01-29     Pfizer/BioNTech              256764
16  Austria  2021-02-05     Johnson&Johnson                   0
17  Austria  2021-02-05             Moderna                5828
18  Austria  2021-02-05  Oxford/AstraZeneca                   1
19  Austria  2021-02-05     Pfizer/BioNTech              351801

In [5]:
df.tail(10)

     location        date             vaccine  total_vaccinations
7413  Uruguay  2021-06-16             Sinovac             2563994
7414  Uruguay  2021-06-17  Oxford/AstraZeneca               43091
7415  Uruguay  2021-06-17     Pfizer/BioNTech              822534
7416  Uruguay  2021-06-17             Sinovac             2596584
7417  Uruguay  2021-06-18  Oxford/AstraZeneca               43098
7418  Uruguay  2021-06-18     Pfizer/BioNTech              837620
7419  Uruguay  2021-06-18             Sinovac             2628437
7420  Uruguay  2021-06-19  Oxford/AstraZeneca               43098
7421  Uruguay  2021-06-19     Pfizer/BioNTech              837620
7422  Uruguay  2021-06-19             Sinovac             2628437

In [6]:
df.iloc[4000]

location                   Italy
date                  2021-05-08
vaccine                  Moderna
total_vaccinations       1896594
Name: 4000, dtype: object

In [7]:
df.iloc[4000:4010]

     location        date             vaccine  total_vaccinations
4000    Italy  2021-05-08             Moderna             1896594
4001    Italy  2021-05-08  Oxford/AstraZeneca             5170680
4002    Italy  2021-05-08     Pfizer/BioNTech            16627258
4003    Italy  2021-05-09     Johnson&Johnson              184160
4004    Italy  2021-05-09             Moderna             1929371
4005    Italy  2021-05-09  Oxford/AstraZeneca             5261630
4006    Italy  2021-05-09     Pfizer/BioNTech            16877333
4007    Italy  2021-05-10     Johnson&Johnson              192241
4008    Italy  2021-05-10             Moderna             1971352
4009    Italy  2021-05-10  Oxford/AstraZeneca             5370059

In [8]:
df.iloc[4000:4010].iloc[0]

location                   Italy
date                  2021-05-08
vaccine                  Moderna
total_vaccinations       1896594
Name: 4000, dtype: object

In [9]:
type(df.iloc[4000:4010])

pandas.core.frame.DataFrame

### Get specific columns in Data Frame

In [10]:
all_vac = df['total_vaccinations']
all_vac.iloc[4000:4010]

4000     1896594
4001     5170680
4002    16627258
4003      184160
4004     1929371
4005     5261630
4006    16877333
4007      192241
4008     1971352
4009     5370059
Name: total_vaccinations, dtype: int64

In [11]:
some_data = df.iloc[4000:4010]['total_vaccinations']

In [12]:
some_data.mean()

5548067.8

In [13]:
some_data.std()

6218559.780673832

In [14]:
some_data.median()

3571016.0

In [15]:
df.iloc[-1]

location                 Uruguay
date                  2021-06-19
vaccine                  Sinovac
total_vaccinations       2628437
Name: 7422, dtype: object

In [16]:
italy_data = df[ df['location']=='Italy' ]

In [17]:
italy_data

     location        date             vaccine  total_vaccinations
3633    Italy  2020-12-27     Pfizer/BioNTech                7220
3634    Italy  2020-12-28     Pfizer/BioNTech                8649
3635    Italy  2020-12-29     Pfizer/BioNTech                9665
3636    Italy  2020-12-30     Pfizer/BioNTech               14397
3637    Italy  2020-12-31     Pfizer/BioNTech               39901
...       ...         ...                 ...                 ...
4162    Italy  2021-06-17     Pfizer/BioNTech            30937826
4163    Italy  2021-06-18     Johnson&Johnson             1177398
4164    Italy  2021-06-18             Moderna             4232971
4165    Italy  2021-06-18  Oxford/AstraZeneca             8204808
4166    Italy  2021-06-18     Pfizer/BioNTech            31407077

[534 rows x 4 columns]

In [18]:
italy_data.describe()

       total_vaccinations
count        5.340000e+02
mean         4.455262e+06
std          6.570672e+06
min          1.000000e+00
25%          3.098832e+05
50%          1.809838e+06
75%          5.525791e+06
max          3.140708e+07

In [19]:
italy_data.count()

location              534
date                  534
vaccine               534
total_vaccinations    534
dtype: int64

In [20]:
italy_data.median()

total_vaccinations    1809838.5
dtype: float64

### How many vaccinations in Italy up to date?

In [21]:
df[df['date']=='2021-06-18'] # All countries vaccinations (all types) in 18/6/2021

           location        date             vaccine  total_vaccinations
92          Austria  2021-06-18     Johnson&Johnson               87288
93          Austria  2021-06-18             Moderna              661323
94          Austria  2021-06-18  Oxford/AstraZeneca             1171324
95          Austria  2021-06-18     Pfizer/BioNTech             4740794
168         Belgium  2021-06-18     Johnson&Johnson              184774
...             ...         ...                 ...                 ...
7082  United States  2021-06-18             Moderna           130656013
7083  United States  2021-06-18     Pfizer/BioNTech           173280164
7417        Uruguay  2021-06-18  Oxford/AstraZeneca               43098
7418        Uruguay  2021-06-18     Pfizer/BioNTech              837620
7419        Uruguay  2021-06-18             Sinovac             2628437

[84 rows x 4 columns]

In [22]:
italy_data[italy_data['date']=='2021-06-18'] # Italy vaccinations (all types) in 18/6/2021

     location        date             vaccine  total_vaccinations
4163    Italy  2021-06-18     Johnson&Johnson             1177398
4164    Italy  2021-06-18             Moderna             4232971
4165    Italy  2021-06-18  Oxford/AstraZeneca             8204808
4166    Italy  2021-06-18     Pfizer/BioNTech            31407077

### How many Pfizer vaccinations in Italy up to date?

In [23]:
italy_data[ (italy_data['date']=='2021-06-18') & (italy_data['vaccine']=='Pfizer/BioNTech')].total_vaccinations

4166    31407077
Name: total_vaccinations, dtype: int64

In [24]:
italy_data[italy_data['vaccine']=='Pfizer/BioNTech'].max()

location                        Italy
date                       2021-06-18
vaccine               Pfizer/BioNTech
total_vaccinations           31407077
dtype: object

In [25]:
italy_data[italy_data['vaccine']=='Pfizer/BioNTech'].max().total_vaccinations

31407077

In [26]:
italy_data[italy_data['vaccine']=='Pfizer/BioNTech'].max().date

'2021-06-18'

### When and how many vaccinations for AstraZeneca data recently collected in Chile?

In [27]:
chile_data = df[df['location'] == 'Chile']

In [28]:
chile_data.describe()

       total_vaccinations
count        3.730000e+02
mean         3.969455e+06
std          5.121632e+06
min          7.200000e+01
25%          1.184600e+05
50%          1.642198e+06
75%          6.135904e+06
max          1.651487e+07

In [29]:
chile_data.count()

location              373
date                  373
vaccine               373
total_vaccinations    373
dtype: int64

In [30]:
chile_data_astrazeneca = chile_data[chile_data['vaccine']=='Oxford/AstraZeneca']

In [31]:
chile_data_astrazeneca.count()

location              49
date                  49
vaccine               49
total_vaccinations    49
dtype: int64

In [32]:
# When?
chile_data_astrazeneca.max().date

'2021-06-15'

In [33]:
#How many vaccinations?
chile_data_astrazeneca.max().total_vaccinations

373452

## Grouping

### What is the total vaccinations for all types in each country?

In [34]:
data_by_country = df.groupby('location')

In [35]:
data_by_country.count()

               date  vaccine  total_vaccinations
location
Austria          96       96                  96
Belgium          76       76                  76
Bulgaria         79       79                  79
Chile           373      373                 373
Croatia          87       87                  87
Cyprus           72       72                  72
Czechia         517      517                 517
Denmark          67       67                  67
Estonia          77       77                  77
Finland          99       99                  99
France          516      516                 516
Germany         696      696                 696
Hungary         116      116                 116
Iceland         680      680                 680
Ireland          82       82                  82
Italy           534      534                 534
Latvia          486      486                 486
Liechtenstein    36       36                  36
Lithuania       525      525                 525
Luxembourg       78       78                  78
Malta            63       63                  63
Netherlands     100      100                 100
Poland          100      100                 100
Portugal         84       84                  84
Romania         469      469                 469
Slovakia         94       94                  94
Slovenia         69       69                  69
Spain            96       96                  96
Sweden           65       65                  65
Switzerland     246      246                 246
United States   406      406                 406
Uruguay         339      339                 339

In [36]:
data_by_country.describe()

              total_vaccinations                                        \
                           count          mean           std       min
location
Austria                     96.0  5.894917e+05  9.989493e+05       0.0
Belgium                     76.0  9.535739e+05  1.412168e+06       0.0
Bulgaria                    79.0  1.842004e+05  2.225088e+05       0.0
Chile                      373.0  3.969455e+06  5.121632e+06      72.0
Croatia                     87.0  2.102652e+05  3.177937e+05       3.0
Cyprus                      72.0  8.009235e+04  1.093691e+05       0.0
Czechia                    517.0  7.169322e+05  1.183262e+06       1.0
Denmark                     67.0  5.019803e+05  8.274814e+05       0.0
Estonia                     77.0  7.843369e+04  1.184802e+05       0.0
Finland                     99.0  3.328944e+05  6.239836e+05       0.0
France                     516.0  4.828257e+06  7.621268e+06      20.0
Germany                    696.0  4.901085e+06  9.250985e+06       0.0
Hungary                    116.0  8.047476e+05  9.407048e+05       0.0
Iceland                    680.0  2.470565e+04  3.828476e+04       0.0
Ireland                     82.0  3.621677e+05  5.303645e+05       0.0
Italy                      534.0  4.455262e+06  6.570672e+06       1.0
Latvia                     486.0  9.575224e+04  1.151651e+05       1.0
Liechtenstein               36.0  5.067333e+03  3.739616e+03     368.0
Lithuania                  525.0  2.195502e+05  3.073857e+05       2.0
Luxembourg                  78.0  4.694995e+04  6.977137e+04       0.0
Malta                       63.0  7.766946e+04  9.857569e+04      49.0
Netherlands                100.0  1.025157e+06  1.850656e+06       0.0
Poland                     100.0  2.188060e+06  3.824214e+06       0.0
Portugal                    84.0  6.593045e+05  1.028449e+06       1.0
Romania                    469.0  1.238079e+06  1.775318e+06      45.0
Slovakia                    94.0  3.048296e+05  4.723573e+05       0.0
Slovenia                    69.0  1.525774e+05  1.940551e+05      70.0
Spain                       96.0  3.094148e+06  5.244480e+06       0.0
Sweden                      65.0  8.141022e+05  1.125614e+06       0.0
Switzerland                246.0  1.298758e+06  8.749265e+05  220085.0
United States              406.0  6.104555e+07  5.278695e+07  208590.0
Uruguay                    339.0  5.306594e+05  7.048230e+05       0.0


                       25%         50%           75%          max
location
Austria             300.25    167379.0  6.666700e+05    4740794.0
Belgium           70642.00    425840.5  1.080058e+06    6257829.0
Bulgaria          14146.50    108865.0  2.445450e+05     898271.0
Chile            118460.00   1642198.0  6.135904e+06   16514870.0
Croatia            8771.50    103010.0  2.423295e+05    1454685.0
Cyprus             6091.25     42231.5  9.718375e+04     464507.0
Czechia           49950.00    299043.0  5.895920e+05    5763203.0
Denmark           67977.50    151347.0  4.076415e+05    3625181.0
Estonia            2611.00     25789.0  1.198010e+05     551119.0
Finland              12.50     68667.0  3.440720e+05    2945167.0
France           271991.00   2137467.5  4.719231e+06   36077911.0
Germany             122.75    876558.5  5.249839e+06   48271209.0
Hungary           74247.00    497588.5  1.131789e+06    4018537.0
Iceland               2.00      8567.0  2.830700e+04     202383.0
Ireland           20716.50    133916.0  5.039875e+05    2324141.0
Italy            309883.25   1809838.5  5.525791e+06   31407077.0
Latvia            15247.25     40981.0  1.542808e+05     559430.0
Liechtenstein      1893.50      4091.5  7.700000e+03      15396.0
Lithuania         23236.00    100969.0  2.755580e+05    1410824.0
Luxembourg         5694.50     18002.0  5.710075e+04     311827.0
Malta              9040.00     32096.0  1.112505e+05     382995.0
Netherlands           0.00    248716.5  1.183123e+06    9084078.0
Poland             1664.25    596164.5  2.516678e+06   18460437.0
Portugal          13511.25    209404.5  8.169900e+05    4744314.0
Romania          184146.00    530055.0  1.219748e+06    6885178.0
Slovakia              0.00     93775.5  4.158542e+05    2112124.0
Slovenia          20712.00     85399.0  1.908930e+05     846231.0
Spain             32780.25    881027.5  3.662423e+06   24526142.0
Sweden           128380.00    408234.0  8.294180e+05    4875616.0
Switzerland      579421.25   1022388.0  1.914899e+06    3900354.0
United States  10797128.75  45783931.0  1.098740e+08  173280164.0
Uruguay           41480.00    171076.0  7.274625e+05    2628437.0

In [37]:
data_by_country_and_vaccine = df.groupby(['location','vaccine'])

In [38]:
data_by_country_and_vaccine.describe()

                                 total_vaccinations                \
                                              count          mean
location      vaccine
Austria       Johnson&Johnson                  24.0  1.269842e+04
              Moderna                          24.0  2.080116e+05
              Oxford/AstraZeneca               24.0  4.546528e+05
              Pfizer/BioNTech                  24.0  1.682604e+06
Belgium       Johnson&Johnson                   9.0  6.633400e+04
...                                             ...           ...
United States Moderna                         152.0  7.182282e+07
              Pfizer/BioNTech                 152.0  8.637920e+07
Uruguay       Oxford/AstraZeneca              113.0  2.345065e+04
              Pfizer/BioNTech                 113.0  3.556079e+05
              Sinovac                         113.0  1.212920e+06

                                                                        \
                                           std        min          25%
location      vaccine
Austria       Johnson&Johnson     2.576316e+04        0.0         0.00
              Moderna             2.238080e+05        0.0     12978.25
              Oxford/AstraZeneca  4.083775e+05        0.0     35264.00
              Pfizer/BioNTech     1.462671e+06    30874.0    501622.25
Belgium       Johnson&Johnson     6.375930e+04        0.0     23320.00
...                                        ...        ...          ...
United States Moderna             4.172076e+07  3835859.0  32037939.00
              Pfizer/BioNTech     5.482301e+07  5488697.0  33957312.75
Uruguay       Oxford/AstraZeneca  2.077058e+04        0.0        33.00
              Pfizer/BioNTech     2.663575e+05        0.0    107699.00
              Sinovac             8.171352e+05      374.0    415284.00


                                         50%           75%          max
location      vaccine
Austria       Johnson&Johnson           25.0  8.102000e+03      87288.0
              Moderna               121770.0  3.581978e+05     661323.0
              Oxford/AstraZeneca    399932.5  7.716372e+05    1171324.0
              Pfizer/BioNTech      1195979.0  2.657775e+06    4740794.0
Belgium       Johnson&Johnson        48666.0  9.556500e+04     184774.0
...                                      ...           ...          ...
United States Moderna             73855479.0  1.126445e+08  130656013.0
              Pfizer/BioNTech     81915893.0  1.400692e+08  173280164.0
Uruguay       Oxford/AstraZeneca     38382.0  4.285500e+04      43098.0
              Pfizer/BioNTech       361041.0  5.728950e+05     837620.0
              Sinovac              1243474.0  1.944934e+06    2628437.0

[124 rows x 8 columns]

In [39]:
data_by_country_and_vaccine.agg({'total_vaccinations':'max'})

                                  total_vaccinations
location      vaccine
Austria       Johnson&Johnson                  87288
              Moderna                         661323
              Oxford/AstraZeneca             1171324
              Pfizer/BioNTech                4740794
Belgium       Johnson&Johnson                 184774
...                                              ...
United States Moderna                      130656013
              Pfizer/BioNTech              173280164
Uruguay       Oxford/AstraZeneca               43098
              Pfizer/BioNTech                 837620
              Sinovac                        2628437

[124 rows x 1 columns]

In [40]:
?pd

Type:        module
String form: <module 'pandas' from '/Users/ahmadalawad/Desktop/all-cf-material/401/python/amman-python-401d4/class-12/demo/vaccination/.venv/lib/python3.8/site-packages/pandas/__init__.py'>
File:        ~/Desktop/all-cf-material/401/python/amman-python-401d4/class-12/demo/vaccination/.venv/lib/python3.8/site-packages/pandas/__init__.py
Docstring:
pandas - a powerful data analysis and manipulation library for Python
=====================================================================

**pandas** is a Python package providing fast, flexible, and expressive data
structures designed to make working with "relational" or "labeled" data both
easy and intuitive. It aims to be the fundamental high-level building block for
doing practical, **real world** data analysis in Python. Additionally, it has
the broader goal of becoming **the most powerful and flexible open source data
analysis / manipulation tool available in any language**. It is already well on
its way toward this goal.

Main Features
-------------
Here are just a few of the things that pandas does well:

  - Easy handling of missing data in floating point as well as non-floating
    point data.
  - Size mutability: columns can be inserted and deleted from DataFrame and
    higher dimensional objects
  - Automatic and explicit data alignment: objects can be explicitly aligned
    to a set of labels, or the user can simply ignore the labels and let
    `Series`, `DataFrame`, etc. automatically align the data for you in
    computations.
  - Powerful, flexible group by functionality to perform split-apply-combine
    operations on data sets, for both aggregating and transforming data.
  - Make it easy to convert ragged, differently-indexed data in other Python
    and NumPy data structures into DataFrame objects.
  - Intelligent label-based slicing, fancy indexing, and subsetting of large
    data sets.
  - Intuitive merging and joining data sets.
  - Flexible reshaping and pivoting of data sets.
  - Hierarchical labeling of axes (possible to have multiple labels per tick).
  - Robust IO tools for loading data from flat files (CSV and delimited),
    Excel files, databases, and saving/loading data from the ultrafast HDF5
    format.
  - Time series-specific functionality: date range generation and frequency
    conversion, moving window statistics, date shifting and lagging.

## Export data to files

In [41]:
exported_data = data_by_country_and_vaccine.agg({'total_vaccinations':'max'})

In [42]:
data = exported_data.to_json()

In [43]:
import json
parsed_data = json.loads(data)

In [44]:
json_dumped = json.dumps(parsed_data)

In [45]:
with open('data_by_country_and_vaccine.json', 'w') as file:
    file.write(json_dumped)